@page "/LearnBlazor/BindProp"


<h3>This is a tesing nav component</h3>

@*--------------------------------------------------------------------------*@
<h3>Forward</h3>
Name : @Product.Name1
<br />
GOAT : @Product.IsActive1
<br />
Value : @Product.Value1 Million
<br />
Value :<input type="number" @bind-value="@Product.Value1" @bind-value:event="oninput" />

@*--------------------------------------------------------------------------*@
<h3>Defense</h3>
Name : @Product.Name2
<br />
GOAT : @Product.IsActive2
<br />
Value : @Product.Value2 Million
<br />Value :
<input type="number" @bind-value="@Product.Value2" @bind-value:event="oninput" />

@*--------------------------------------------------------------------------*@
<h4>Product</h4>
Name : @Product.Name3
<br />
Active : @Product.Active
<br />
Price : @Product.price USD
<br/>

<br />
This Product is : @(Product.Active?"Active":"Inactive")

<br />
Active Status: <input type="checkbox" @bind-value="Product.Active" checked="@(Product.Active?"checked":null)" />
<br />
Price : <input type="number" @bind-value="@Product.price" @bind-value:event="oninput" />




@code {
    Project_models.LearnBlazorModels.Demo_Products Product = new()
        {
            Id1 = 1,
            Name1 = "Cristiano Ronaldo",
            IsActive1 = true,
            Value1 = 120,
       
            Id2 = 2,
            Name2 = "Virgil Van Dijk",
            IsActive2 = true,
            Value2 = 80,

            Id3 = 3,
            Name3 = "Nissan GT-R",
            price = 52000,
            Active = true,
        };




}
